<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1">
			<handler function="OnClose" entry="EVT_CLOSE" />
		</object>
		<object name="ID_GAUGE1" class="wxGauge" variable="Gauge1" member="yes" />
		<object name="ID_ANIMATIONCTRL2" class="wxAnimationCtrl" variable="AnimationCtrl2" member="yes" />
	</resource_extra>
</wxsmith>
